#### Importing libraries

In [2]:
import pandas as pd

In [19]:
df = pd.read_csv('smart_lock.csv')

#### 1.1 Sorting brands according to relative ranking.

In [ ]:
result_df = df.groupby('BrandName').agg({'Ranking': 'mean'}).reset_index()

result_df.columns = ['BrandName', 'avg_Ranking']

result_df = result_df.sort_values(by='avg_Ranking', ascending=True)

result_df

In [74]:
brands = result_df['BrandName'].tolist()

In [ ]:
brands

#### 1.2 Python script for relative ranking

In [ ]:
sql_query = "SELECT\n"

for brand in brands:
    sql_query += (
        f"IFNULL(CASE WHEN ï»¿BrandName = '{brand}' THEN Title END, ' ') AS {brand}_Title,\n"
        f"IFNULL(CASE WHEN ï»¿BrandName = '{brand}' THEN Ranking END, ' ') AS {brand}_Ranking,\n"
    )

# Remove the last comma and add the FROM clause
sql_query = sql_query.rstrip(',\n') + "\nFROM `scrapping data`.smart_lock\n"

# Print the generated query
print(sql_query)

#### 2.1 Sorting brands according to the relative rating

In [ ]:
result_df = df.groupby('BrandName').agg({'Rating': 'mean'}).reset_index()

result_df.columns = ['BrandName', 'avg_Rating']

result_df = result_df.sort_values(by='avg_Rating', ascending=False)

result_df

In [93]:
brands = result_df['BrandName'].tolist()

In [102]:
brands

#### 2.2 Python script for relative rating

In [ ]:
sql_query = "SELECT\n"

for brand in brands:
    sql_query += (
        f"IFNULL(CASE WHEN ï»¿BrandName = '{brand}' THEN Title END, ' ') AS {brand}_Title,\n"
        f"IFNULL(CASE WHEN ï»¿BrandName = '{brand}' THEN Rating END, ' ') AS {brand}_Rating,\n"
    )

# Remove the last comma and add the FROM clause
sql_query = sql_query.rstrip(',\n') + "\nFROM `scrapping data`.smart_lock\n"

# Print the generated query
print(sql_query)